header {
  background-color: #552b80;
  color: rgb(250, 249, 251);
  font-family: "Proza Libre", sans-serif;
}

body {
  background-color: #f0f0f0;
}

h1,
h2 {
  font-family: "Proza Libre", sans-serif;
  font-weight: bolder;
}

p {
  font-family: "Proza Libre", sans-serif;
  width: 100%;
  line-height: 1.5em;
}

.upward {
  margin-top: 1.6em;
}

img.images-entry {
  width: 100%;
}

form {
  padding-bottom: 2em;
}

img.image {
  width: 100%;
  margin-bottom: 1em;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-weight: bolder;
}

input {
  width: 100%;
  margin-bottom: 2em;
  margin-top: 0.75em;
  padding: 0.5em;
  border-color: #b6b6b6;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.1em;
  font-size: 18px;
}

input:focus {
  outline: #552b80;
  border-color: #552b80;
}

textarea {
  width: 100%;
  resize: none;
  margin-bottom: 1.25em;
  margin-top: 0.75em;
  padding: 0.75em;
  border-style: solid;
  border-color: #b6b6b6;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Proza Libre", sans-serif;
}

textarea:focus {
  outline: #552b80;
  border-color: #552b80;
}

#save {
  float: right;
  background-color: #552b80;
  color: rgb(250, 249, 251);
  font-family: "Proza Libre", sans-serif;
  border-radius: 5px;
  border: none;
  width: 4rem;
  padding: 0.4rem;
}

#delete {
  font-family: "Proza Libre", sans-serif;
  color: red;
  border: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-top: 0.5rem;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin-right: 2.5em;
}

i {
  color: #552b80;
  margin-top: -2.4rem;
  float: right;
  cursor: pointer;
}

#no-entry {
  text-align: center;
}

.entries-tag {
  text-decoration: none;
  color: rgb(250, 249, 251);
  font-family: "Proza Libre", sans-serif;
  font-size: 1.25rem;
  margin-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

#button-style {
  text-decoration: none;
  text-align: center;
  color: rgb(250, 249, 251);
  font-family: "Proza Libre", sans-serif;
  background-color: #552b80;
  display: block;
  border-radius: 5px;
  height: 2rem;
  width: 4rem;
  padding: 0.4rem 0 0;
  margin-top: auto;
  margin-bottom: auto;
}

#cancel-button {
  border-radius: 5px;
  background-color: #b6b6b6;
  border: transparent;
  height: 2.5rem;
  width: 7.5rem;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

#confirm-button {
  border-radius: 5px;
  background-color: #dc2626;
  border: transparent;
  color: rgb(250, 249, 251);
  height: 2.5rem;
  width: 9rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  float: right;
}

.title-content {
  font-size: 1.2rem;
}

.clear {
  display: none;
}

.show {
  background-color: white;
  border-radius: 5px;
  border: solid black;
  padding: 1rem;
}

.modal {
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
  width: 28rem;
}

.overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
